#pom.xml
build-output
test-it
old/
*jar
*.war
/lib/
vinzi.data/target/
vinzi.data/.settings/
leinProj/target/
.lein*
*~
*.class
*#
*.log
*.bck
*.old
*.bak
*.sql
*.swp
*.tmp
*.pyc
ccw.repl.cmdhistory.prefs
